*, *::after, *::before{
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
}

body{
    background-color: DarkCyan;
}

h1{
    color: lavender;
}

.clock{
    width: 400px;
    height: 400px;
    background-color: beige;
    border-radius: 50%;
    position: relative;

}

.number{
    --rotation_value: 0;
    color: black;
    font-size: 2.2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    rotate: var(--rotation_value);
}

.number1{ --rotation_value: 30deg;}
.number2{ --rotation_value: 60deg;}
.number3{ --rotation_value: 90deg;}
.number4{ --rotation_value: 120deg;}
.number5{ --rotation_value: 150deg;}
.number6{ --rotation_value: 180deg;}
.number7{ --rotation_value: 210deg;}
.number8{ --rotation_value: 240deg;}
.number9{ --rotation_value: 270deg;}
.number10{ --rotation_value: 300deg;}
.number11{ --rotation_value: 330deg;}
.number12{ --rotation_value: 0deg;}


.hand{
    --rotation_hand: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: translate(0);
    transform-origin: bottom ;
    rotate: calc(var(--rotation_hand) * 1deg);
}

.hour{
    width: 15px;
    height: 35%;
    background-color: black;

}

.min{
    width: 10px;
    height: 40%;
    background-color: midnightblue;
}

.sec{
    width: 5px;
    height: 45%;
    background-color: lightcoral;
}

.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;

}

.hourCircle{
    width: 20px;
    height: 20px;
    background-color: black 
}

.minCircle{
    width: 15px;
    height: 15px;
    background-color: midnightblue 
}

.secCircle{
    width: 10px;
    height: 10px;
    background-color: lightcoral 
}

